#header {
	background-color: #2D2F35;
	height: 110px;
}
body {
	font-family:Verdana,"Arial", Helvetica, sans-serif !important;
}
#background1 {
	background-image: url('bg_home_intro.gif');
	height: 300px;
	overflow: visible;
	margin-top: 0px;
	border-bottom: 1px solid #464646;
	border-top: 1px solid #464646;
}
.img1 {
	float:right;
	padding-right: 176px;
}
.p1 {
	padding-left: 135px;
	margin-bottom: 20px;
	margin-top: 0px;
	color: white;
	width: 400px;
}
.p3 {
	margin-top: 2px;
	font-size: 11.5px;
	padding-top: 10px;
}
.p2 {
	margin-top: 0px;
	color: #FFFF00;
	font-size: 22px;
	font-weight: 500px;
}
#background2 {
	background-color:#2D2F35;
	height: 110px;
	padding-top: 20px;
	padding-bottom: 15px;
}
.menu {
	padding-left: 198px;
	padding-right: 171px;
	padding-top: 7px;
}

.menu-img {
	float: left;
	position: relative;
	width: 220;
	height: 102;
	margin-right: 19px;
}
.img-number {
	position: absolute;
	top: 5px;
	right: 5px;
}
#background3 {
	background-color: #2D2F35;
	height: 380px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-bottom: 1px solid #464646;
	border-top: 1px solid #464646;
}
#content {
	margin: 10px 135px;
}
#left {
	float: left;
	background-image: url('home_services_bg_design.gif');
	background-position: right bottom;
	background-repeat: no-repeat;
	width: 400px;
	clear: both;
}
.p4 {
	color: white;
	text-align: justify;
	font-size: 11px;
	margin-top: -20px;
}
#right {
	background-image: url('home_services_bg_marketing.gif');
	background-position: top left;
	background-repeat: no-repeat;
	width: 400px;
	float: right;
}	
.p5 {
	color: white;
	text-align: justify;
	font-size: 11px;
	margin-top: 0px;
}	
#footer {
	background-image: url('bg_footer.gif');
	height: 110px;
	margin-top: -14px;
}
.p6 {
	color: white;
	text-align: center;
	font-size: 11px;
}
