body {
	line-height: 1.5;
  	font-family: Georgia, 'Times New Roman', Times, serif;
  	font: 15px;
}
h1 {
}
a { text-decoration: none; }
a:link{		color: #008080;}
a:hover{	color: #800080;}
a:visited{	color: #CD0000;}
a:active{	color: #00EEEE;}
ul { list-style-type:none; }