body {
	font-family: Arial, "Times New Roman";
	margin: 120px auto;
	width: 700px;
	height:400px;
	margin-left: 200px;
}
canvas {
	cursor: pointer;
}
header {
	color: #333;
	font-size: 30px;
	text-align: center;
}
#content {
	display: flex;
	margin: 0;
	padding: 0;
}
#left {
	margin:0;
	width:50px;
	height: 400px;
	transform: rotate(-90deg);
	position: absolute;
}
#left p{
	width:400px;
	color:#333;
	text-align: center;
	position: relative;
	top: 75px;
	left: -140px;
	font-size:30px;
}
footer {
	color: #333;
	font-size: 30px;
	text-align: center;
}