body {
	width: 100%;
	font-family: Arial, "Times New Roman";
	margin: 20px auto;
}
canvas {
	cursor: pointer;
	float: left;
}
h2 {
	text-align: center;
}
#discription {
	float: right;
	margin-right: 50px;
    margin-top: 15%;
    float: right;
}
#discription div{
	padding-top: 15px;
}
#content {
	width: 1000px;
	overflow: hidden;
	margin: 0 auto;
}
#insertValue {
	width: 1000px;
	margin: 50px auto;
}