@media screen and (max-width: 645px) {
/*	.inner {
		float: none;
		text-align: center;
	}
	h1 {
		text-align: center;
		margin: 7px auto;
	}
	.phone_pc {
		display: none !important;
	}
	.phone_sp {
		display: block !important;
	}
	.float {
		float: none;
		text-align: center;
		margin: 7px auto;
	}
	img.header_logo {
		max-width: 430px;
		width: 100%;
		height: auto;
	}
	.header_info {
		width: 100%;
		font-size: 12px;
	}*/
}
