body {
	margin: 0 auto;
	background: #2D2F35;
	font-family: Verdana, Arial, Helvetica, san-serif;
}
.logo {
	height: 100px;
	margin-top: 0;
}
.header {
	background: url(../image/bg_home_intro.gif);
	height: 310px;
	border-top: 1px solid #464646;
	overflow: hidden;
}
.header .img {
	float: right;
	padding-right: 200px; 

}
.header .content {
	background: url(../image/bg_home_intro.gif) repeat-x; 
	font-size: 12px;
	float: left;
	width: 360px;
	height: auto;
	margin: 0;
	padding-top: 0px;
	padding-left: 120px;
}
.title1 {
	font-family: Georgia, 'Times New Roman', Times, serif;
	word-spacing: 8px;
	letter-spacing: 1px;
	font-size: 24px;
	color: yellow;
	padding: 0;
	margin: 1px 0 0 0;
}
.header .content .title2 {
	font-size: 11.5px;
	padding-top: 12px;
	color: white;
}
.banner {
	height: 120px;
	border-top: 1px solid #464646;
	padding-left: 160px;
	padding-top: 40px;
}
.banner .menu-image {
	float: left;
	width: 220px;
	height: 100px;
	position: relative;
	margin-right: 20px;
}
.banner .menu-image .img {
	position: absolute;
	right: 4px;
	top: 5px;
}
.main {
	min-height: 400px;
	background: #2D2F35;
	border-top: 1px solid #464646;
	padding-top: 10px;
	overflow: hidden;
}
.main .main-left {
	float: left;
	width:390px;
	background: #2D2F35 url(../image/home_services_bg_design.gif) no-repeat bottom right;
	margin-left: 120px;
	text-align: justify;
}
.main .main-left .title1 {
	font-size: 21px;
	margin-bottom: 1px;
	padding-bottom: 2px;
}
.main .main-left .p4 {
	height: 270px;
	font-size: 11.5px;
	padding-bottom: 40px;
	color: white;
	margin-top:0;
	margin-bottom: 0;
}
.main .main-right {
	float: right;
	width: 400px;
	background: #2D2F35 url(../image/home_services_bg_marketing.gif) no-repeat;
	margin-right: 180px;
	text-align: justify;
}
.main .main-right .title1 {
	margin:0;
	font-size: 21px;
}
.main .main-right .p5 {
	height: 250px;
	font-size: 11.5px;
	padding-top: 35px;
	color: white;
	margin-top:0;
	line-height: 1.3;
}
.footer {
	width: 100%;
	height: 100px;
	background: #24262a;
	padding-top: 0;
	border-top: 1px solid #464646;
}
.footer .footer-title{
	font-size: 11.5px;
	text-align: center;
	color: white;
	margin:0;
	padding:0;
}
.footer .img_footer{
	padding-top: 5px;
	width:900px;
	padding-left: 170px;
}
.clear: after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}